* {
    font-family: Arial, Helvetica, sans-serif;
}

.info {
    display: flex;
    flex: 1 1 auto;
    height: 38%;
    flex-direction: column;
}

.info-head {
    display: flex;
    flex: 1 1 auto;
    height: 26%;
    color: #1F2937;
    font-size: 36px;
    font-weight: 750;
    justify-content: center;
    align-items: center;
}

.info-body {
    /*display: flex;
    flex: 1 1 auto;
    height: 74%;
    gap: 2%;
    justify-content: center;*/
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: 74%;
    justify-items: center;
    padding: 0px 300px;
}

.info-body-container {
    display: felx;
    flex-direction: column;
    width: calc(160px + 8px);
    gap: 100px;
}

.frame {
    border: 4px solid #3882f6;
    border-radius: 15px;
    width: 160px;
    height: 160px;
}

.subtxt {
    color: #1f2937;
    font-size: 18px;
    margin-top: 10px;
}

.quote, .call-to-action {
    display: flex;
    flex: 1 1 auto;
    height: 31%;
}

.quote {
    background-color: #e5e7eb;
    flex-direction: column;
    padding: 0px 310px;
    align-content: center;
    justify-content: center;
}

.quote p {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    font-weight: lighter;
    text-align: left;
    margin-bottom: 10px;
    margin-top: 0px;
}

.quote div {
    display: flex;
    color: #1F2937;
    font-weight: bold;
    font-size: 24px;
    justify-content: flex-end;
}